/*全局设置*/
body {
  margin: 0;
  padding: 0;
  font: 14px simsun, Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
img {
  vertical-align: bottom;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
/*定义基础样式变量*/
/*css样式初始化*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #e4393c;
}
/*1、头部*/
#top {
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to bottom, #be0000 0%, #d80000 100%);
  /*头部#top结束*/
}
#top #top-box {
  width: 1211px;
  margin: 0 auto;
  /*logo*/
  /*头部列表*/
  /*头部#top-box结束*/
}
#top #top-box > a {
  float: left;
}
#top #top-box > a img {
  height: 34px;
  vertical-align: middle;
}
#top #top-box > ul {
  /*下拉框向上箭头*/
  /*买房*/
  /*右侧登陆*/
  /*第一个子元素ul结束*/
}
#top #top-box > ul > li {
  float: left;
  padding: 0 10px;
  text-align: center;
}
#top #top-box > ul > li > a {
  color: #fcf0f0;
  font-weight: bold;
}
#top #top-box > ul > li:hover {
  background: #B30000;
}
#top #top-box > ul li.address {
  padding-right: 18px;
}
#top #top-box > ul li.address:hover .address-box {
  display: block;
  z-index: 30;
}
#top #top-box > ul li.address:hover > span.caret {
  border: 9px solid transparent;
  border-bottom-color: white;
  bottom: 0;
  left: 18px;
}
#top #top-box > ul li.buy {
  /*配合下拉框做相对定位、右内边距*/
  position: relative;
  padding-right: 18px;
}
#top #top-box > ul li.buy ul.buy-box {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #b2b2b2;
  border-top: none;
  background-color: white;
  display: none;
}
#top #top-box > ul li.buy ul.buy-box li {
  height: 30px;
  line-height: 30px;
}
#top #top-box > ul li.buy:hover > span.caret {
  bottom: 0;
  left: 18px;
  border: 9px solid transparent;
  border-bottom-color: white;
}
#top #top-box > ul li.buy:hover .buy-box {
  display: block;
  z-index: 10;
}
#top #top-box > ul li.lk,
#top #top-box > ul li.order {
  padding: 0 3px;
}
#top #top-box > ul li.lk span,
#top #top-box > ul li.order span {
  /*宽度、高度、背景、绝对定位*/
  position: relative;
  top: 4px;
  left: 0px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icon-dingd.png") no-repeat;
}
#top #top-box > ul li.order span {
  height: 18px;
  background-position: -1px -16px;
}
#top #top-box > ul li.login {
  position: relative;
}
#top #top-box > ul li.login > p {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10000;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #fff;
}
#top #top-box > ul li.login > p span {
  position: absolute;
  top: -18px;
  left: 15px;
  z-index: 1;
  border: 9px solid transparent;
  border-bottom-color: white;
}
#top #top-box > ul li.login > p a {
  display: inline-block;
  width: 100%;
  height: 30px;
}
#top #top-box > ul li.login > p:hover span {
  border-bottom-color: #ddd;
}
#top #top-box > ul li.login > p:hover a {
  background: #ddd;
}
#top #top-box > ul li #login {
  color: #000;
  font-weight: bold;
}
#top #top-box > ul li #login a {
  color: #fcf0f0;
  font-weight: bold;
}
#top #top-box > ul li.login div.login-box {
  /*默认模态框隐藏*/
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  background: rgba(0, 0, 0, 0.7);
}
#top #top-box > ul li.login div.login-box > div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  height: 420px;
  margin-top: -210px;
  margin-left: -220px;
  background: #fff;
}
#top #top-box > ul li.login div.login-box > div h2 {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
#top #top-box > ul li.login div.login-box > div form div {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
#top #top-box > ul li.login div.login-box > div form div input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 5px 3px 5px 30px;
}
#top #top-box > ul li.login div.login-box > div form div span {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #999999;
}
#top #top-box > ul li.login div.login-box > div form div b.tips_new {
  display: none;
  position: absolute;
  top: -25px;
  left: 0;
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #e4393c;
  padding: 0 5px;
  font-size: 1em;
  text-align: left;
  color: #e4393c;
}
#top #top-box > ul li.login div.login-box > div > div:last-child {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #eee;
  margin-top: 20px;
}
#top #top-box > ul li.login div.login-box > div > div:last-child a {
  color: #e4393c;
}
#top #top-box > ul li.login div.login-box > div > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #999999;
  color: #fff;
  cursor: pointer;
}
#top #top-box > ul li.login div.login-box > div > span:hover {
  background: #666666;
}
#top #top-box > ul li.register {
  /*去内边距*/
  padding: 0;
}
#top #top-box > ul li.register a {
  /*左右内边距、边框*/
  padding: 0 10px;
  border-left: 1px solid white;
}
#top #top-box:after {
  content: "";
  display: block;
  clear: both;
}
/*可复用样式*/
span.caret {
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-top-color: #f0f0f0;
  position: absolute;
  bottom: 35%;
  right: 3px;
  z-index: 10;
}
.address {
  /*配合下拉框做相对定位*/
  position: relative;
}
.address ul.address-box {
  /*宽度、边框、背景颜色、左右内边距、绝对定位、默认隐藏*/
  position: absolute;
  left: 0;
  display: none;
  width: 248px;
  border: 1px solid #b2b2b2;
  border-top: none;
  background: white;
  padding: 0 3px;
}
.address ul.address-box li {
  float: left;
  width: 25%;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
/*可复用样式结束*/
/*右侧绝对定位*/
/*定义基础样式变量*/
#rt-fixed {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 1000;
  display: none;
}
#rt-fixed li {
  width: 35px;
  height: 35px;
  background: #7A6E6E url('../images/icon_rbar20160517.png') no-repeat -1px 0;
  margin-bottom: 1px;
  /*配合弹出框做相对定位*/
  position: relative;
}
#rt-fixed li:last-child {
  background: #7A6E6E url('../images/to-top.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}
#rt-fixed li a:first-child {
  display: block;
  width: 35px;
  height: 35px;
}
#rt-fixed li a:last-child {
  display: none;
}
#rt-fixed li:hover {
  background-color: #e4393c;
}
#rt-fixed li:hover a:last-child {
  display: block;
  width: 68px;
  height: 35px;
  line-height: 35px;
  background: #e4393c;
  padding-left: 3px;
  color: #fff;
  position: absolute;
  right: 35px;
  top: 0;
}
/*2、top-main部分*/
#top-main {
  background: #F3F3F3;
  padding-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
#top-main div {
  width: 1211px;
  margin: 0 auto;
  /*搜索框部分*/
}
#top-main div div.search-box {
  /*绝对定位，宽度，背景颜色，内边距，边框倒角*/
  width: 40%;
  background: #D10101;
  padding: 2px 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
#top-main div div.search-box input.txtSearch {
  /*宽度，去轮廓线，上下左内边距*/
  width: 85%;
  height: 2.8em;
  line-height: 2.8em;
  border: none;
  outline: none;
  padding: 5px 0 5px 5px;
}
#top-main div div.search-box button.btnSearch {
  /*背景色，去边框，调整内边距，字体颜色，大小*/
  background: #D10101;
  border: none;
  margin-top: 1px;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
}
#top-main div div.search-box button.btnSearch:hover {
  background: #c00;
}
/*2、top-main部分结束*/
/*5、友情链接*/
#foot-box {
  /*宽度，居中，下边框,下内外边距*/
  width: 1211px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#foot-box h2 {
  width: 100%;
  border-bottom: 4px solid #000;
  margin-bottom: 20px;
  padding: 0 6px 3px 0;
  color: #333;
}
#foot-box h2 a {
  float: right;
  font-size: 16px;
  color: #333;
}
#foot-box h2 a:hover {
  color: #e4393c;
}
#foot-box ul {
  padding: 0 20px;
  overflow: hidden;
}
#foot-box ul li {
  /*宽度、浮动*/
  width: 16.6%;
  float: left;
  height: 2.2em;
  line-height: 2.2em;
  text-align: left;
}
#foot-box ul li a:hover {
  text-decoration: underline;
}
/*友情链接结束*/
/*底部版权部分*/
/*底部版权部分*/
#footer {
  width: 1211px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#footer ul {
  width: 43%;
  margin: 0 auto;
}
#footer ul li {
  float: left;
  height: 2.2em;
  line-height: 2.2em;
  padding: 0 10px;
}
#footer ul li span {
  color: #CFDAED;
}
#footer ul li a:hover {
  text-decoration: underline;
}
#footer ul:after {
  content: "";
  display: block;
  clear: both;
}
#footer p {
  text-align: center;
}
/*底部版权部分结束*/
